{
  "presets": [],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "~": "./src",
          "~root": "./",
          "~server": "./server"
        }
      }
    ]
  ]
}
