.scrollbar-thin
  &::-webkit-scrollbar
    width 5px
    height 5px
  &::-webkit-scrollbar-track
    -webkit-border-radius 10px
    border-radius 10px
    margin80px 0 5px 0
  &::-webkit-scrollbar-thumb
    -webkit-border-radius 4px
    border-radius 4px
    background rgb(219,219,219)